# Prerequisites
*.d

my_rpg

*.o

.conf

.vscode/

vgcore.*

lib/my/include/my_malloc.h
lib/my/linked_list/my_malloc.c

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build
